<a href="https://colab.research.google.com/github/JiamanBettyWu/bios823_project/blob/betty/modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import sys
sys.path.append('/content/drive/MyDrive/BIOS823/BIOS823 Final Project')

In [32]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

In [7]:
dat = pd.read_csv("/content/drive/MyDrive/BIOS823/BIOS823 Final Project/MIMIC_cleaned.csv")

In [8]:
dat.head()

   SUBJECT_ID  HADM_ID  ... PROP_ITEMID_50983 PROP_ITEMID_51006
0          22   165315  ...               0.0          0.000000
1          23   152223  ...               0.0          0.000000
2          23   124321  ...               0.0          0.375000
3          24   161859  ...               0.0          0.000000
4          25   129635  ...               0.0          0.777778

[5 rows x 83 columns]

In [9]:
dat.shape

(58976, 83)

In [10]:
dat.describe()

         SUBJECT_ID        HADM_ID  ...  PROP_ITEMID_50983  PROP_ITEMID_51006
count  58976.000000   58976.000000  ...       57305.000000       57305.000000
mean   33755.583288  149970.809584  ...           0.118382           0.416595
std    28092.726225   28883.095213  ...           0.213524           0.405558
min        2.000000  100001.000000  ...           0.000000           0.000000
25%    11993.750000  124952.750000  ...           0.000000           0.000000
50%    24133.500000  149989.500000  ...           0.000000           0.333333
75%    53851.500000  174966.500000  ...           0.166667           0.857143
max    99999.000000  199999.000000  ...           1.000000           1.000000

[8 rows x 75 columns]

## AGE 

To protect patients' privacy, patients who are older than a certain ago is coded by a really large number like 300. Therefore, we would like identify these patients and encode the patients' age by a more reasonable number.

In [11]:
# AGE_ON_AD is a float, which doesn't really make sense for age
# We want to ignore everything that's after the decimal point

age = dat.AGE_ON_AD.astype(str).str.split(".", expand=True)[[0]]
age = age.astype(int)

In [12]:
# We see that the oldest real age is 89
np.sort(age[0][age[0] < 100].unique())

# So we want to set everything greater than 89 years old as 90
# And saves this back to the dataframe
dat["age"] = np.where(age[0] > 89, 90, age[0])

## GENDER

In [13]:
le = LabelEncoder()

In [14]:
dat["gender"] = le.fit_transform(dat.GENDER)

## Ethicity

More group may be needed

In [15]:
dat["ethnicity"] = le.fit_transform(dat.ETHNICITY)

In [16]:
dat.ETHNICITY.unique()

array(['WHITE', 'UNKNOWN/NOT SPECIFIED', 'MULTI RACE ETHNICITY',
       'BLACK/AFRICAN AMERICAN', 'HISPANIC OR LATINO',
       'PATIENT DECLINED TO ANSWER', 'ASIAN', 'OTHER',
       'HISPANIC/LATINO - GUATEMALAN', 'ASIAN - VIETNAMESE',
       'AMERICAN INDIAN/ALASKA NATIVE', 'WHITE - RUSSIAN',
       'HISPANIC/LATINO - PUERTO RICAN', 'ASIAN - CHINESE',
       'ASIAN - ASIAN INDIAN', 'BLACK/AFRICAN',
       'HISPANIC/LATINO - SALVADORAN', 'HISPANIC/LATINO - DOMINICAN',
       'UNABLE TO OBTAIN', 'BLACK/CAPE VERDEAN', 'BLACK/HAITIAN',
       'WHITE - OTHER EUROPEAN', 'PORTUGUESE', 'SOUTH AMERICAN',
       'WHITE - EASTERN EUROPEAN', 'CARIBBEAN ISLAND', 'ASIAN - FILIPINO',
       'ASIAN - CAMBODIAN', 'HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)',
       'WHITE - BRAZILIAN', 'ASIAN - KOREAN',
       'HISPANIC/LATINO - COLOMBIAN', 'ASIAN - JAPANESE',
       'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER', 'ASIAN - THAI',
       'HISPANIC/LATINO - HONDURAN', 'HISPANIC/LATINO - CUBAN',
       'MIDDLE EASTERN', 'ASIAN - OTHER', 'HISPANIC/LATINO - MEXICAN',
       'AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE'],
      dtype=object)

In [17]:
dat.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'ETHNICITY',
       'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG', 'GENDER', 'DOB', 'AGE_ON_AD',
       'SERVICES', 'ICU_STAY_DAYS', 'MULTI_ENTRY_ICU', 'ICD9_9955',
       'ICD9_3893', 'ICD9_9604', 'ICD9_966', 'ICD9_9672', 'ICD9_9904',
       'ICD9_9671', 'ICD9_3961', 'ICD9_8856', 'ICD9_3891',
       'TOTAL_ITEMID_51221', 'TOTAL_ITEMID_51222', 'TOTAL_ITEMID_51248',
       'TOTAL_ITEMID_51249', 'TOTAL_ITEMID_51250', 'TOTAL_ITEMID_51265',
       'TOTAL_ITEMID_51277', 'TOTAL_ITEMID_51279', 'TOTAL_ITEMID_51301',
       'TOTAL_ITEMID_50820', 'TOTAL_ITEMID_50868', 'TOTAL_ITEMID_50882',
       'TOTAL_ITEMID_50902', 'TOTAL_ITEMID_50912', 'TOTAL_ITEMID_50931',
       'TOTAL_ITEMID_50960', 'TOTAL_ITEMID_50970', 'TOTAL_ITEMID_50971',
       'TOTAL_ITEMID_50983', 'TOTAL_ITEMID_51006', 'ABNORMAL_ITEMID_51221',
       'ABNORMAL_ITEMID_51222', 'ABNORMAL_ITEMID_51248',
       'ABNORMAL_ITEMID_51249', 'ABNORMAL_ITEMID_51250',
       'ABNORMAL_ITEMID_51265', 'ABNORMAL_ITEMID_51277',
       'ABNORMAL_ITEMID_51279', 'ABNORMAL_ITEMID_51301',
       'ABNORMAL_ITEMID_50820', 'ABNORMAL_ITEMID_50868',
       'ABNORMAL_ITEMID_50882', 'ABNORMAL_ITEMID_50902',
       'ABNORMAL_ITEMID_50912', 'ABNORMAL_ITEMID_50931',
       'ABNORMAL_ITEMID_50960', 'ABNORMAL_ITEMID_50970',
       'ABNORMAL_ITEMID_50971', 'ABNORMAL_ITEMID_50983',
       'ABNORMAL_ITEMID_51006', 'PROP_ITEMID_51221', 'PROP_ITEMID_51222',
       'PROP_ITEMID_51248', 'PROP_ITEMID_51249', 'PROP_ITEMID_51250',
       'PROP_ITEMID_51265', 'PROP_ITEMID_51277', 'PROP_ITEMID_51279',
       'PROP_ITEMID_51301', 'PROP_ITEMID_50820', 'PROP_ITEMID_50868',
       'PROP_ITEMID_50882', 'PROP_ITEMID_50902', 'PROP_ITEMID_50912',
       'PROP_ITEMID_50931', 'PROP_ITEMID_50960', 'PROP_ITEMID_50970',
       'PROP_ITEMID_50971', 'PROP_ITEMID_50983', 'PROP_ITEMID_51006', 'age',
       'gender', 'ethnicity'],
      dtype='object')

In [18]:
features_li = ['age', 'gender', 'ethnicity','ICU_STAY_DAYS', 'MULTI_ENTRY_ICU', 
               'ICD9_9955','ICD9_3893', 'ICD9_9604', 'ICD9_966', 'ICD9_9672', 'ICD9_9904', 'ICD9_9671', 'ICD9_3961', 'ICD9_8856', 'ICD9_3891',
               'PROP_ITEMID_51221', 'PROP_ITEMID_51222',
                'PROP_ITEMID_51248', 'PROP_ITEMID_51249', 'PROP_ITEMID_51250',
                'PROP_ITEMID_51265', 'PROP_ITEMID_51277', 'PROP_ITEMID_51279',
                'PROP_ITEMID_51301', 'PROP_ITEMID_50820', 'PROP_ITEMID_50868',
                'PROP_ITEMID_50882', 'PROP_ITEMID_50902', 'PROP_ITEMID_50912',
                'PROP_ITEMID_50931', 'PROP_ITEMID_50960', 'PROP_ITEMID_50970',
                'PROP_ITEMID_50971', 'PROP_ITEMID_50983', 'PROP_ITEMID_51006']
X = dat[features_li]
y = dat['HOSPITAL_EXPIRE_FLAG']

## Missing values

method: fill with 0

In [19]:
X.isna().sum(axis = 0)

age                      0
gender                   0
ethnicity                0
ICU_STAY_DAYS         1200
MULTI_ENTRY_ICU       1190
ICD9_9955            20394
ICD9_3893            20394
ICD9_9604            20394
ICD9_966             20394
ICD9_9672            20394
ICD9_9904            20394
ICD9_9671            20394
ICD9_3961            20394
ICD9_8856            20394
ICD9_3891            20394
PROP_ITEMID_51221     1671
PROP_ITEMID_51222     1671
PROP_ITEMID_51248     1671
PROP_ITEMID_51249     1671
PROP_ITEMID_51250     1671
PROP_ITEMID_51265     1671
PROP_ITEMID_51277     1671
PROP_ITEMID_51279     1671
PROP_ITEMID_51301     1671
PROP_ITEMID_50820     1671
PROP_ITEMID_50868     1671
PROP_ITEMID_50882     1671
PROP_ITEMID_50902     1671
PROP_ITEMID_50912     1671
PROP_ITEMID_50931     1671
PROP_ITEMID_50960     1671
PROP_ITEMID_50970     1671
PROP_ITEMID_50971     1671
PROP_ITEMID_50983     1671
PROP_ITEMID_51006     1671
dtype: int64

In [20]:
# fill NAs with 0
X = X.fillna(0)

## Train Dev test split

In [21]:
trainX, tempX, trainy, tempy = train_test_split(X, y, test_size=0.2, random_state=12)
devX, testX, devy, testy = train_test_split(tempX, tempy, test_size=0.5, random_state=12)

In [22]:
print(f"Train data set size: {trainX.shape}.")
print(f"Dev data set size: {devX.shape}.")
print(f"Test data set size: {testX.shape}.")

Train data set size: (47180, 35).
Dev data set size: (5898, 35).
Test data set size: (5898, 35).

## Scaling

In [23]:
# features need to be normalized

features_norm = ['ICU_STAY_DAYS','ICD9_9955','ICD9_3893', 'ICD9_9604', 'ICD9_966',
                 'ICD9_9672', 'ICD9_9904', 'ICD9_9671', 'ICD9_3961', 'ICD9_8856', 'ICD9_3891',
                 'PROP_ITEMID_51221', 'PROP_ITEMID_51222',
                 'PROP_ITEMID_51248', 'PROP_ITEMID_51249', 'PROP_ITEMID_51250',
                 'PROP_ITEMID_51265', 'PROP_ITEMID_51277', 'PROP_ITEMID_51279',
                 'PROP_ITEMID_51301', 'PROP_ITEMID_50820', 'PROP_ITEMID_50868',
                 'PROP_ITEMID_50882', 'PROP_ITEMID_50902', 'PROP_ITEMID_50912',
                 'PROP_ITEMID_50931', 'PROP_ITEMID_50960', 'PROP_ITEMID_50970',
                 'PROP_ITEMID_50971', 'PROP_ITEMID_50983', 'PROP_ITEMID_51006']

In [24]:
scaler = StandardScaler()

trainX = scaler.fit_transform(trainX)
devX = scaler.fit_transform(devX)

## MLP Classifier

In [30]:
classifier = MLPClassifier(hidden_layer_sizes=(150,100), max_iter=500,activation = 'relu',solver='adam',random_state=1)
classifier.fit(trainX, trainy)

MLPClassifier(hidden_layer_sizes=(150, 100), max_iter=500, random_state=1)

In [ ]:
from sklearn.model_selection import PredefinedSplit

In [34]:
parameter_space = {
    'hidden_layer_sizes': [(30, 30, 30),(100, 100, 100), (150, 150)],
    'activation': ['tanh', 'relu'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
    'batch_size': [64, 128, 256]
}
clf = GridSearchCV(classifier, parameter_space, n_jobs=-1, cv=2, scoring='roc_auc', verbose=4)
clf.fit(trainX, trainy)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

GridSearchCV(cv=2,
             estimator=MLPClassifier(hidden_layer_sizes=(150, 100),
                                     max_iter=500, random_state=1),
             n_jobs=-1,
             param_grid={'activation': ['tanh', 'relu'],
                         'alpha': [0.0001, 0.05], 'batch_size': [64, 128, 256],
                         'hidden_layer_sizes': [(30, 30, 30), (100, 100, 100),
                                                (150, 150)],
                         'learning_rate': ['constant', 'adaptive']},
             scoring='roc_auc', verbose=4)

In [41]:
import joblib

In [35]:
clf.best_score_

0.9055029343579268

In [43]:
joblib.dump(clf, '/content/drive/MyDrive/BIOS823/BIOS823 Final Project/clf_21.pkl')
joblib.dump(clf.best_estimator_, '/content/drive/MyDrive/BIOS823/BIOS823 Final Project/best_clf_21.pkl')

['/content/drive/MyDrive/BIOS823/BIOS823 Final Project/best_clf_21.pkl']

In [39]:
clf.best_estimator_

MLPClassifier(activation='tanh', alpha=0.05, batch_size=64,
              hidden_layer_sizes=(150, 150), max_iter=500, random_state=1)

In [40]:
clf.best_params_

{'activation': 'tanh',
 'alpha': 0.05,
 'batch_size': 64,
 'hidden_layer_sizes': (150, 150),
 'learning_rate': 'constant'}

In [36]:
devy_pred = clf.predict(devX)

In [37]:
 confusion_matrix(devy_pred, devy)

array([[5181,  328],
       [ 102,  287]])

In [38]:
roc_auc_score(devy_pred, devy)

0.8391251333993777

In [44]:
best_clf = joblib.load("/content/drive/MyDrive/BIOS823/BIOS823 Final Project/best_clf_21.pkl")

In [46]:
devy_pred = best_clf.predict(devX)
roc_auc_score(devy_pred, devy)

0.8391251333993777